@import url('https://fonts.googleapis.com/css2?family=Sour+Gummy:ital,wght@0,100..900;1,100..900&display=swap');

* , html , body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Sour Gummy", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
    overflow-x: hidden;
}

/* header */

header{
    display: flex;
    justify-content: center;
    gap: 70%;
    padding: 5% 0;
}
header button{
    width: 10%;
    font-family: "Sour Gummy" , serif;
    background-color: white;
    font-size: 120%;
    border-radius: 20px;
    box-shadow: 5px 3px 2px 3px black;
    cursor: pointer;
    transform: scale(1);
}
header button:hover{
    transform: scale(0.9);
    transition: transform 0.5s;
}
header img{
    cursor: pointer;
    transform: scale(1);
    transition: transform 0.5s;
}
header img:hover{
    transform: scale(0.9);
}

/* vibrate effect */ 
@keyframes vibrate {
    0% { transform: translate(0); }
    25% { transform: translate(-1px, 1px); }
    50% { transform: translate(1px, -1px); }
    75% { transform: translate(-1px, -1px); }
    100% { transform: translate(0); }
}

.vibrate {
    display: inline-block;
    animation: vibrate 1s infinite;
}
/* -------------- */


/* section -1 */

.title-1{
    display: flex;
    justify-content: center;
    font-size: 400%;
    animation: scroll-watcher linear;
    animation-timeline: scroll();
}
@keyframes scroll-watcher {
    from {scale: 1 1;}
    to {
        scale: .1 1;
    }
}
.image-1{
    margin: 10% 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 200px;
    font-size: 400%;
    animation:scroll-watcher-video linear;
    animation-timeline:scroll();
}
@keyframes scroll-watcher-video {
    from{
        scale:1 1;
    }
    to{
        scale: .8 1;
    }
}
.image-1 video{
    width: 70%;
    transform: translateY(0);
    transition: transform 1s ease-out;
}
.desc-1 {
    position: absolute;
    width: 100%;
    text-align: center;
    font-size: 400%;
    color: black;
    top: 60%;
    opacity: 0;
}
/* section -2 */

.image-2 img{
    width: 30%;
    animation: autoRotate;
    animation-timeline: view();
}
@keyframes autoRotate{
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}
.image-2{
    display: flex;
    justify-content: center;
}
.desc-2{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 400%;
    margin-top: 5%;
    padding: 2% 0;
}
.small-image-2{
    display: flex;
    justify-content: center;
    margin-top: 10%;
}

.small-image-2 img{
    width: 20%;
    object-fit: contain;
    animation: scroll-image;
    animation-timeline: scroll();
}
@keyframes scroll-image{
    from{
        scale:2 2;
    }
    to{
        scale:1 1;
    }
}
.video-2{
    display: flex;
    justify-content: center;
    margin-top: -30%;
}
.video-2 img{
    z-index: 1;
}

/* section -3 */

.desc-3{
    margin-top: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.card-3{
    text-align: center;
    padding: 10% 5%;
}
.card-3 p{
    font-size: 300%;
}
.card-3 h1{
    font-size: 450%;
}
.small-desc-3{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 10%;
    font-size: 400%;
}
.small-card-3{
    padding: 2% 0;
    animation: SmallCardAnimation linear both;
    animation-timeline: view();
}
@keyframes SmallCardAnimation{
    0%{
        filter: blur(40px);
    }
    45% , 50% {
        filter:blur(0px);
    }
    100%{
        filter: blur(40px);
    }
}

/* section - 4 */

.section-4 {
    margin: 30% 0;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: white;
}
.black-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: black;
    opacity: 0; 
    pointer-events: none; 
    transition: opacity 0.5s ease-in-out;
}
.title-4{
    padding: 10% 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 400%;
    color: white;
}
.title-4 img{
    width: 60%;
}

/* section -5 */ 
.title-5{
    display: flex;
    justify-content: center;
    font-size: 500%;
    padding: 20% 0;
}
.slider{
    width: 100%;
    height: var(--height);
    margin-bottom: 10%;
    mask-image: linear-gradient(
        to right, 
        transparent , 
        black 10% 90%, 
        transparent
    );
}
.slider .list{
    display: flex;
    width: 100%;
    min-width: calc(var(--width) * var(--quantity));
    position: relative;
}
.slider .list .item{
    width: var(--width);
    height: var(--height);
    position: absolute;
    left: 100%;
    animation: autoPlay 9s linear infinite;
    animation-delay: calc((10s / var(--quantity)) * (var(--position) - 1));
}
.slider .list .item img{
    width: 200%;
}
.slider:hover .item{
    animation-play-state: paused !important;
}
@keyframes autoPlay{
    from{
        left: 100%;
    }
    to{
        left: calc(var(--width) * -1);
    }
}

/* footer */

footer{
    padding: 20% 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    font-size: 200%;
    background-color: black;
    color: white;
    animation: footAnimation;
    animation-timeline:view() ;
}
@keyframes footAnimation{
    0%{
        filter: blur(40px);
    }
    45%, 55%{
        filter: blur(0px);
    }
    100%{
        filter: blur(40px);
    }
}

@media(max-width: 765px){
    body{
        overflow-x: hidden;
    }
    header{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin: 0;
        padding: 10% 0;
    }
    header button{
        width: 50%;
    }
    .title-1{
        text-align: center;
        font-size: 300%;
    }
    .image-1{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        text-align: center;
    }
    .image-1 h1{
        font-size: 100%;
    }
    .desc-2{
        font-size: 300%;
        margin-bottom: 30%;
    }
    .video-2 img{
        width: 80%;
        margin-top: -10%;
    }
    .small-image-2{
        width: 120%;
    }
    @keyframes SmallCardAnimation{
        0%{
            filter: blur(40px);
        }
        20% , 70% {
            filter:blur(0px);
        }
        75% , 100%{
            filter: blur(40px);
        }
    }
    .small-card-3{
        font-size: 70%;
        text-align: center;
    }
    .section-4{
        padding: 100% 0;
        margin: 100% 0;
    }
    .title-4{
        text-align: center;
    }
    footer{
        padding-bottom: 100%;
        font-size: 100%;
    }
    @keyframes footAnimation{
        0%{
            filter: blur(40px);
        }
        20%, 80%{
            filter: blur(0px);
        }
        100%{
            filter: blur(40px);
        }
    }
}

@media(min-width:765px) and (max-width:1200px){
    footer{
        padding-bottom: 50%;
    }
    .video-2 img{
        width: 60%;
        margin-top: -10%;
    }
    .small-image-2{
        display: flex;
        justify-content: center;
        margin-left: -5%;
        padding-top: 10%;
        width: 120%;
    }
}
